body {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 42px;
  background-color: #021829;
  color: #fff;
}
.header .logo {
  width: 128px;
  height: 46px;
  margin-right: 48px;
  padding-top: 14px;
}
.header .nav {
  flex: 1;
  display: flex;
  position: relative;
}
.header .nav > li {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  cursor: pointer;
}
.header .nav > li:hover .nav-title {
  color: #0092bc;
}
.header .nav > li:hover .hover-menu {
  display: block;
}
.header .nav .hover-menu {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  display: none;
  padding: 40px 0;
  background-color: #023258;
}
.header .nav .hover-menu > ul {
  width: 1264px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.header .nav .hover-menu > ul > li {
  width: 25%;
  box-sizing: border-box;
  padding: 0px 32px;
  margin-bottom: 80px;
}
.header .nav .hover-menu > ul > li:nth-child(5) {
  margin-bottom: 0;
}
.header .nav .hover-menu > ul > li:nth-child(6) {
  margin-bottom: 0;
}
.header .nav .hover-menu > ul > li:nth-child(7) {
  margin-bottom: 0;
}
.header .nav .hover-menu > ul > li:nth-child(8) {
  margin-bottom: 0;
}
.hover-menu__gtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.hover-menu__group {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.hover-menu__group:hover {
  color: #0092bc;
}
.hover-menu__divider {
  height: 0;
  border-top: 1px solid #fff;
  margin: 12px 0;
}
.header .extra {
  background-color: antiquewhite;
}

.corner-mark--r {
  position: relative;
  top: -8px;
  left: -2px;
  font-size: 16px;
  font-size: 12px;
}
